<div class="movie-card" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseOut()">
    <div class=" movie-card__content">
        <img src="../../images/{{ movie.id }}.jpeg" class="movie-card__img" />
        <div class="movie-card__title">{{movie.name}}
        </div>
        <div class="movie-card__genre-list">
            <span *ngFor="let genre of getGenre(movie.genre)">{{genre}}</span>
        </div>
        <div class="movie-card__date">{{movie.year}}
        </div>

        <button *ngIf="isHover" class="movie-card__button" mat-icon-button color="none" (click)="changeBestMovie()">
            <mat-icon>{{'favorite_outline'}}</mat-icon>
        </button>

    </div>