@font-face {
    font-family: Montserrat;
    src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf");
  }
  



.container{
    background: #F4F4F4;
    width: 1440px;
    height: 100%;
    margin: 0 auto;
}

