@import "../style/variables.scss";

@font-face {
    font-family: Montserrat;
    src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf");
  }
  
.container{
    height: 100%;
    margin: 0 auto;
    width: 1440px;
}

.wrapper{
 padding: 37px 25px;
  background: $background-color;
}

