$background-color: #F4F4F4;

$font-color:#1D1838;
$text-height:14px;


$light-blue-gray-color:#CBD8DE;


$white-color: #FFFFFF;

$gray-color: #A1A1AA;
$light-gray-color: #C6C6C6;
$dark-gray-color: #414144;


$blue-color:#5F98F5;
$blue-gray-color:#7890B2;
$green-color:#95FFAC;
$red-color:#DF4444;




.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.app-caption {
  background-color: $background-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}